body {
    margin: auto;
    padding: 5%;
    background-color: rgb(214, 212, 212);
    background-image: url("../images/burger.png");
}

span {
    background-color: rgb(211, 35, 35);

}

#not_consumed {
    align-content: left;
    width: 50%;
    background-color: rgb(214, 212, 212);
    background-size: conver;

}

#consumed {
    align-content: right;
    width: 50%;
    background-color: rgb(214, 212, 212);
    background-size: cover;
}

.create-form {
    align-content: center;
    background-color: rgb(214, 212, 212);
    width: 30%;
    background-size: cover;

};